.drink-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: var(--tertiary);
  text-align: center;
  justify-items: center;
}
@media (max-width: 600px) {
  .drink-list-wrapper {
    grid-template-columns: 1fr;
  }
}
