.features-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2em;
  margin-bottom: 2em;
}
.feature-item {
  border-radius: 14px;
  text-align: center;
  color: var(--secondary);

  /* border-radius: 50px;
  background: #ffe293;
  box-shadow: -10px -10px 20px #e0c781, 10px 10px 20px #fffda5; */
}
.feature-title {
  font-weight: 300;
  font-size: 1.7em;
}
.feature-item h3 {
  margin-bottom: 10.5px;
}
