.food-item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  align-items: center;
  grid-gap: 5px;
  overflow: hidden;
}
.food-item-title {
  font-weight: 300;
  font-size: 2em;
  color: var(--tertiary);
  margin-bottom: 10px;
}
.food-item-desc {
  font-size: 1em;
  color: var(--tertiary);
}
.food-item-image {
}
