:root {
  --primary: #ffe293;
  --secondary: black;
  --tertiary: #1c1c1b;
}
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  letter-spacing: -1px;
}

p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 10px;
}
